@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 222 84% 5%;

    --card: 210 20% 98%;
    --card-foreground: 222 84% 5%;

    --popover: 210 20% 98%;
    --popover-foreground: 222 84% 5%;

    --primary: 208 45% 54%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 16% 93%;
    --secondary-foreground: 222 84% 5%;

    --muted: 210 16% 93%;
    --muted-foreground: 222 20% 46%;
    
    --accent: 227 28% 90%;
    --accent-foreground: 222 84% 5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 210 12% 89%;
    --input: 210 12% 89%;
    --ring: 208 45% 54%;

    --radius: 0.5rem;
  }
 
  .dark {
    --background: 227 25% 22%;
    --foreground: 210 40% 98%;

    --card: 227 25% 22%;
    --card-foreground: 210 40% 98%;

    --popover: 227 25% 18%;
    --popover-foreground: 210 40% 98%;

    --primary: 208 45% 54%;
    --primary-foreground: 210 40% 98%;

    --secondary: 227 25% 27%;
    --secondary-foreground: 210 40% 98%;

    --muted: 227 25% 27%;
    --muted-foreground: 210 20% 65%;

    --accent: 227 28% 77%;
    --accent-foreground: 227 25% 15%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 227 25% 27%;
    --input: 227 25% 27%;
    --ring: 208 45% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
